.fast_nav>.wrapper{
margin: 0; 
}
body{background-image: url(image\AdvancedRetrieval\canvas.png)
   
    
}
.fast_nav{
    background-color: #019cde;
    height: 65px;
    margin: 0%;
}
.navbar{
    margin: 0;
}
body{
    margin: 0;
}
.logo {
  cursor: pointer;
}
.nav>li{
  cursor: pointer;
  list-style: none;
}
.signin{
  cursor: pointer;
  margin-right: 20px;
}
.nav>li:hover{
  background-color: #008ecf;
}
.signin:hover{
  background-color: #008ecf;
}
.fast_nav .logo{
    float: left;
    width: 305px;
    margin: 0 auto;
    line-height: 65px;
}
.fast_nav .nav{
    float: left;
    padding: 0%;
    margin: 0%;
}
.fast_nav .nav>li{
    float: left;
    width: 94px;
    line-height: 65px;
    color: white;
    font-size: 15px;
    text-align: center;
}
 .fast_nav .signin{
    float: right;
    line-height: 65px;
    color: white;
    font-size: 15px;
    height: 65px;
    padding-left: 10px;
}
.person{
    height: 23px;
    width: 23px;
    line-height: 65px;
    padding-top: 20px;
    padding-right: 10px;
}



div.wrapper_2::after{
    display: block;
    content: " ";
    clear: both;}
div.wrapper_2>.pannel{
    float: left;

}
