.fast_nav>.wrapper{
margin: 0; 
}

.fast_nav{
    background-color: #019cde;
    height: 65px;
    margin: 0%;
}
.navbar{
    margin: 0;
}
body{
    margin: 0;
}
.logo {
  cursor: pointer;
  height: 65px;
  margin-left: 65px;
}
.nav>li{
  cursor: pointer;
  list-style: none;
}
.signin{
  cursor: pointer;
  margin-right: 20px;
}
.nav>li:hover{
  background-color: #008ecf;
}
.signin:hover{
  background-color: #008ecf;
}
.fast_nav .logo{
    float: left;
    width: 305px;
    margin: 0 auto;
    line-height: 65px;
}
.fast_nav .nav{
    float: left;
    padding: 0%;
    margin: 0%;
}
.fast_nav .nav>li{
   float: left;
    width: 94px;
    line-height: 65px;
    color: white;
    font-size: 15px;
    text-align: center;
}
 .fast_nav .signin{
    float: right;
    line-height: 65px;
    color: white;
    font-size: 15px;
    height: 65px;
    padding-left: 10px;
}
.person{
    height: 23px;
    width: 23px;
    line-height: 65px;
    padding-top: 20px;
    padding-right: 10px;
}


div.content{
    height: 577px;
}
div.wrapper_2::after{
    display: block;
    content: " ";
    clear: both;
background-color: lavender}


div.wrapper_2>.pannel{
    padding: 10px;
    height: 180px;
}

div.wrapper_2{
    width: 570px;
    height: 250px;
}
.pannel div{
    height: 25%;
    width: 570px
}

.bar1 img,.bar1 span{
    
    margin: 10px;
}
.bar2 img,.bar2 div{
   
    margin: 10px;
}
.bar2 span{
    margin: 15px;
}

div.bottom{
    background-color: #0135de;
    height: 12ex;
    
}
div.wrapper_2{
    float: left;
}
.col-xs-5{
    width: 50%;
    float: left;
    padding-top: 20px;
}
.col-xs-7{
    float: left;
    text-align: right;
    margin-left: 300px;
    margin-top: 35px;
}
.bar2_2{
    padding-left: 45px;
    padding-top: 20px;
}
span{
    display: inline;
}