/* 重置样式 */
html {
    font-size: 14px;
    color: #333333;
  }
  body {
    margin: 0;
  }
  ul,h1,h2,h3 {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    color: #333333;
    text-decoration: none;
  }
  
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  /* 顶端蓝色导航 */
  .fast_nav>.wrapper::after{
      display: block;
      content: "";
      clear: both;
  }
  .fast_nav{
      background-color: #019cde;
      height: 65px;
  }
  .fast_nav .logo {
    cursor: pointer;
  }
  .fast_nav .nav>li{
    cursor: pointer;
  }
  .fast_nav .signin{
    cursor: pointer;
  }
  .fast_nav .nav>li:hover{
    background-color: #008ecf;
  }
  .fast_nav .signin:hover{
    background-color: #008ecf;
  }
  .fast_nav .logo{
      float: left;
      width: 305px;
      margin: 0 auto;
      line-height: 65px;
      height: 65px;
  }
  .fast_nav .nav{
      float: left;
      margin-left: 20px
  }
  .fast_nav .nav>li{
      float: left;
      width: 94px;
      line-height: 65px;
      color: white;
      font-size: 15px;
      text-align: center;
  }
   .fast_nav .signin{
      float: right;
      line-height: 65px;
      color: white;
      font-size: 15px;
      height: 65px;
  }
  .fast_nav .person{
      height: 40px;
      width: 50px;
      line-height: 65px;
      padding-top: 13px;
  }
  .fast_nav .signin>span{
    padding-right: 20px;
}

/* 中部 */
.middle{
  height: 1362px;
}
/* 中左部 */
.middle .leftCatalog{
  width: 210px;
  height: 852.267px;
  float: left;
  margin-top: 10px;
}
.middle .freedata{
  height: 41px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0px;
  background-color:#e8e9e9;
}
.middle .freedata span{
  color: #008bcc;
  font-weight: bolder;
  font-size: 16px;
}
.middle .freedata img{
  width: 16px;
  height: 16px;
  padding-left: 5px;
  padding-top: 13px;
}
.middle .leftCatalog>div>ul{
  padding-left: 31px;
  border-bottom: 1px solid #ccc;
  background-color:#e8e9e9;
}
.middle .leftCatalog>div>ul>li{
  line-height: 30px;
  font-weight: 500;
  padding-top: 8px;
}
.middle .commercedata{
  height: 41px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  background-color:#e8e9e9;
}
.middle .commercedata span{
  color: #008bcc;
  font-weight: bolder;
  font-size: 16px;
}
.middle .commercedata img{
  width: 16px;
  height: 16px;
  padding-left: 5px;
  padding-top: 13px;
}
.middle .leftCatalog span{
  cursor: pointer;
}
.middle .leftCatalog span:hover{
  text-decoration:underline;
  border-bottom: 1.5px solid black;
}
.middle .leftCatalog li{
  cursor: pointer;
}
/* 数据标签 */
.middle .datatag{
  margin-top: 20px;
  height: 290px;
}
.middle .datatag>div:nth-child(1){
  height: 28.3px;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  background-color:#e8e9e9;
}
.middle .datatag>div:nth-child(2){
  height: 250px;
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* 球形 */
#tagscloud a{
  cursor: pointer;
}
#tagscloud a:hover { 
  background-color: #008bcc;
  text-decoration:underline;
  border-bottom: 1.5px solid #334CFF;
}

#tagscloud {
  width: 250px; 
  height: 260px; 
  position: relative; 
  color: #008bcc;  
  text-align: center; 
}

#tagscloud a { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  color: #008bcc; 
  font-family: Arial; 
  text-decoration: none; 
  margin: 0 10px 15px 0; 
  line-height: 18px; 
  text-align: center; 
  padding: 1px 5px; 
  display: inline-block; 
  border-radius: 3px; 
}
#tagscloud .tagc1{
 font-size: 18px;
}
#tagscloud .tagc1{
  font-size: 22px;
}
#tagscloud .tagc1{
  font-size: 24px;
}
#tagscloud .tagc1{
  font-size: 26px;
}
#tagscloud .tagc1{
  font-size: 28px;
}
.middle .rightCatalog{
background-color: coral;
}  
