/* 重置样式 */
html {
    font-size: 14px;
    color: #333333;
  }
  body {
    margin: 0;
  }
  ul,h1,h2,h3 {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    color: #333333;
    text-decoration: none;
  }
  
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  /* 顶端蓝色导航 */
  .fast_nav>.wrapper::after{
      display: block;
      content: "";
      clear: both;
  }
  .fast_nav{
      background-color: #019cde;
      height: 65px;
  }
  .logo {
    cursor: pointer;
    height: 65;
  }
 .nav>li{
    cursor: pointer;
  }
  .signin{
    cursor: pointer;
  }
  .nav>li:hover{
    background-color: #008ecf;
  }
  .signin:hover{
    background-color: #008ecf;
  }
  .fast_nav .logo{
      float: left;
      width: 305px;
      margin: 0 auto;
      line-height: 65px;
      height: 65px;
  }
  .fast_nav .nav{
      float: left;
      margin-left: 20px;
  }
  .fast_nav .nav>li{
      float: left;
      width: 94px;
      line-height: 65px;
      color: white;
      font-size: 15px;
      text-align: center;
  }
   .fast_nav .signin{
      float: right;
      line-height: 65px;
      color: white;
      font-size: 15px;
      height: 65px;
  }
  .person{
      height: 23px;
      width: 23px;
      line-height: 65px;
      padding-top: 20px;
      padding-right: 10px;
  }
  .second_nav{
      height: 1362pxa;
  }
  .second_nav .leftnav{
      width: 280px;
      height: 166.8px;
      background-color:wheat;
      float: left;
  }
 .second_nav .nav>ul>li{
      float: left;
      height: 250px;
  }
  .second_nav .rightnav{
      width: 
  }

  .last_nav{
    background-color: #019cde;
    height: 65px;
}