/* 重置样式 */
html {
    font-size: 14px;
    color: #333333;
  }
  body {
    margin: 0;
  }
  ul,h1,h2,h3 {
    margin:0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    color: #333333;
    text-decoration: none;
  }
  
  .wrapper {
    width: 1400px;
    margin: 0 auto;
  }
  /* 顶端蓝色导航 */
  .fast_nav>.wrapper::after{
      display: block;
      content: "";
      clear: both;
  }
  .fast_nav{
      background-color: #019cde;
      height: 65px;
  }
  .fast_nav .logo {
    cursor: pointer;
  }
  .fast_nav .nav>li{
    cursor: pointer;
  }
  .fast_nav .signin{
    cursor: pointer;
  }
  .fast_nav .nav>li:hover{
    background-color: #008ecf;
  }
  .fast_nav .signin:hover{
    background-color: #008ecf;
  }
  .fast_nav .logo{
      float: left;
      width: 305px;
      margin: 0 auto;
      line-height: 65px;
      height: 65px;
  }
  .fast_nav .nav{
      float: left;
      margin-left: 20px
  }
  .fast_nav .nav>li{
      float: left;
      width: 94px;
      line-height: 65px;
      color: white;
      font-size: 15px;
      text-align: center;
  }
   .fast_nav .signin{
      float: right;
      line-height: 65px;
      color: white;
      font-size: 15px;
      height: 65px;
  }
  .fast_nav .person{
      height: 40px;
      width: 50px;
      line-height: 65px;
      padding-top: 13px;
  }
  .fast_nav .signin>span{
    padding-right: 20px;
}


.left{
    flex-direction:row; 
}
.left>ul>li{
    background-color:  rgb(223, 223, 223);
}
.left>ul>li:hover{
    background-color:rgb(177, 176, 176);
}
.first>ul{
  list-style:none;
}
.below-nav .right{
    float: right;
}
.right .first>ul>li{
    display: flex;
    flex-direction:row; 
    float: left;
    text-align: center;
    line-height: 3em;
    cursor: pointer;
}
.right .third>ul>li{
    float: left;
  line-height: 3em;
  cursor: pointer;
}
.right .forth>div>ul>li,span{
    list-style:none;
    float: left;
  line-height: 3em;
  cursor: pointer;
}
.wrapper {
    display: flex;
    flex-direction: row;
  }
  .below-nav .right{
      margin: 20px;
  }
  .first{
      color: #019cde;
      background-color: #cccccc52;
  }
  .first>ul>li:hover{
color: #008ecf;
  }
  .neirong>ul>img{
    list-style:none;
    float: left;
  text-align: center;
  }
  .neirong>ul>li{
    list-style:none;
    float: left;
  }
  .xy>ul>li{
    list-style:none;
    float: right;
  line-height: 3em;
  cursor: pointer;
}
